.lockpage{ margin-top:50px;}
.lockpage .dropdown{    display: inline-block; margin-right:10px;}
.topbutton{ margin-bottom:20px;}
.btn.show{background-color: #1a1b1c;}
.table-responsive a{ color:#c79500;}